body {
	font-family: -apple-system, Bangla Sangam MN, "Noto Sans", "Microsoft YaHei UI", Avenir, "Segoe UI", Arial, sans-serif;
	font-size: 0.9em;
	vertical-align: baseline;
	color: black;
}

.c_c_sno {
	display: block;
	font-weight: bold;
	font-size: 105%;
	color: #f00;
	padding-top: 2px;
}

.c_c_sno_type {
	margin-left: 4px;
	color: #800040;
  /*text-transform: capitalize;*/
}

.c_c_coll {
	display: block;
	padding-left: 0.5em;
	text-indent: -0.5em;
	color: #000;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.c_c_type {
	color: #ff8000;
	font-weight: bold;
	text-decoration: underline;
  /*text-transform: capitalize;*/
}

.c_c_p_k {
	color: #0000ff;
	font-weight: bold;
}

.c_c_syn {
	display: block;
	padding-left: 0.5em;
	text-indent: -0.5em;
	color: #004080;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.c_c_syn_syn {
	font-weight: bold;
	color: #ff8000;
	margin-right: 4px;
}

br {
	display: none;
}

.c_c_times {
	display: block;
	color: #008000;
	font-size: 85%
}

.c_6_dist {
}

.c_6_type {
	font-weight: bold;
	color: brown;
	margin-right: 4px;
}

.c_6_sno_1 {
	color: red;
}

.c_6_sno_2 {
	color: blue;
}

.c_6_p {
	margin-left: 2px;
	color: Teal;
}
